{% extends 'base/base.html' %}

{% block title %} <title> Minion's | About </title>{% endblock title %}


{% block content %}


<div class="container">
    <div class="post_content entry-content">

        <h1 class="text-center bg-info p-2">Nub Shop Branch List</h1>
        <p style="text-align: justify;"><strong>Corporate Contact</strong><br>
            ACI Centre, 245, Tejgaon Industrial Area, Dhaka-1208, Bangladesh<br>
            Contact Number: (+8802) 8878603<br>
            Fax Number: (+8802) 8878619, 8878626<br>
            Share Office Address: 9 Motijheel C/A, Dhaka-1000, Bangladesh.<br>
            Contact Number: (+8802) 9556254<br>
            Website: <a href="https://nub.ac.bd/">Nub</a>
        <table>
            <tbody>
                <tr>
                    <td>Postagola,Dhaka</td>
                    <td>1/2 Arsin Gate, Eastern Housing Society.</td>
                </tr>
                <tr>
                    <td>Uttara-6,Dhaka</td>
                    <td>House#5,Road#13/C, Sector#6, Uttara.</td>
                </tr>
                <tr>
                    <td>Nakhalpara,Dhaka</td>
                    <td>286/2 West Nakhal Para.</td>
                </tr>
                <tr>
                    <td>Malibag,Dhaka</td>
                    <td>260/6 Malibag.</td>
                </tr>
                <tr>
                    <td>Nazimuddin road,Dhaka</td>
                    <td>90/91 Nazimuddin road.</td>
                </tr>
                <tr>
                    <td>Green road,Dhaka</td>
                    <td>Plot # 3A, Road # 4, Dhanmondi R/A.</td>
                </tr>
                <tr>
                    <td>West Kafrul,Dhaka</td>
                    <td>Palolic Mollick plaza, 218/9 West Kafrul(Shewrapara).</td>
                </tr>
                <tr>
                    <td>N. Banasree,Dhaka</td>
                    <td>H # 41, Road # 6, Banasree, Rampura.</td>
                </tr>
                <tr>
                    <td>Narayonganj</td>
                    <td>21 Nawab Salimulla road, Mission para, Narayonganj.</td>
                </tr>
                <tr>
                    <td>Golpahar,Chittagong</td>
                    <td>787/863 MM Ali road Golpahar More, Chittagong.</td>
                </tr>
                <tr>
                    <td>Silmark,Sylhet</td>
                    <td>Silmark Tower, Sibgonj Upshahar Point, Sylhet.</td>
                </tr>
                <tr>
                    <td>Sunrise,Sylhet</td>
                    <td>69/1 Mohona&nbsp; R/A Block # A, Pathantula, Sunrise tower.</td>
                </tr>
                <tr>
                    <td>Shahjalal Upshahar,Sylhet</td>
                    <td>Holding NO:1098,Main Road-1, Block-E, Shahjalal Uposhohor, Sylhet.</td>
                </tr>
                <tr>
                    <td>Tongi,Dhaka</td>
                    <td>Badur Uddin Manson, Holding# 32, College gate, Tongi, Gazipur.</td>
                </tr>
                <tr>
                    <td>Sutrapur,Dhaka</td>
                    <td>House# 61, Laxmibazar, Sutrapur, Dhaka.</td>
                </tr>
                <tr>
                    <td>Rupnagar,Dhaka</td>
                    <td>16/34 Rupnagar R/A, Mirpur Dhaka-1216.</td>
                </tr>
                <tr>
                    <td>Bijoynagar,Dhaka</td>
                    <td>Tapa Tower,169 Shaheed Syed Nazrul Islam Sharani, Puranapaltan</td>
                </tr>
                <tr>
                    <td>Moghbazar,Dhaka</td>
                    <td>435/1 Boro Moghbazar(Wireless Gate)</td>
                </tr>
                <tr>
                    <td>Shahajahan Rd.</td>
                    <td>14/23 Manama Turag Building.Shajahan Road,Mohammedpur</td>
                </tr>
                <tr>
                    <td>Nikunjo,Dhaka</td>
                    <td>Plot# 15, Road# 6, Nekunja-2, Dhaka</td>
                </tr>
                <tr>
                    <td>Skyview,Dhaka</td>
                    <td>House#389/B,Sky View Afrina,Chowdhurypara,Khilgaon,Dhaka</td>
                </tr>
                <tr>
                    <td>WBC Banani,Dhaka</td>
                    <td>H # 76/A, R # 11, Banani, Dhaka</td>
                </tr>
                <tr>
                    <td>Jatrabari-2</td>
                    <td>33, Shaheed Faruk Road, Uttar Jatrabari, Dhaka</td>
                </tr>
                <tr>
                    <td>Gulshan-2</td>
                    <td>Plot# 03, Gulshan north circle-2, Dhaka-1212.</td>
                </tr>
                <tr>
                    <td>Kazipara</td>
                    <td>558 East Kazipara, Mirpur, Dhaka-1216.</td>
                </tr>
                <tr>
                    <td>Rampura</td>
                    <td>389/B West Rampura, Agrani midtown complex, Dhaka-1219.</td>
                </tr>
                <tr>
                    <td>Uttara-11</td>
                    <td>Plot # 27, Road # 02, Sector # 11, Uttara.</td>
                </tr>

            </tbody>
        </table>
        <p>See More:&nbsp; &nbsp;<a class="sb" title="Asian Sky Shop Showroom Bangladesh Contact Info"
                href="https://updateoffer.com/asian-sky-shop/">Asian Sky Shop Showroom Bangladesh Contact Info</a></p>
        <p style="text-align: justify;">Now all Shwapno clients have got more information to know about the Shwapno
            Super Shop Branch List. If you want to know more or faced any problem, just comment the box. We will answers
            as soon as possible. Thanks to all for being with us.</p>

        <div style="font-size: 0px; height: 0px; line-height: 0px; margin: 0; padding: 0; clear: both;"></div>

        <div class="clear"></div>
    </div>
</div>



<div class="container">
    <h2 class="text-center bg-info p-2">ABOUT MINION'S AND OUR HISTORY</h2> <br>
    <p class="mt-1">
        Minions are small, yellow pill-shaped creatures who have existed since the beginning of time, evolving from
        single-celled organisms into beings which exist only to serve history's most evil masters, but they accidentally
        end up killing all their masters: rolling a Tyrannosaurus into a volcano, letting a caveman get eaten by a bear,
        crushing a Pharaoh to death with the Great Pyramid of Giza, and exposing Count Dracula to sunlight on his 357th
        birthday. They are driven into isolation after firing a cannon at Napoleon while in Russia, and start a new life
        inside a cave, but after many years the Minions become sad and unmotivated without a master to serve. To regain
        their dignity and sense of purpose, three Minions named Kevin, Stuart and Bob go out on a quest to find a new
        master. <br><br>

        The three journey in 1968 to New York City, where they end in a department store for the night, and accidentally
        discover a hidden commercial broadcast for villains advertising Villain-Con, a convention for all villains and
        supervillains in Orlando. The next day, they manage to hitchhike a ride with the Nelsons, a family of thieves.
        At the convention, they see Scarlet Overkill, the world's first female supervillain, who unexpectedly hires them
        and takes them to her home in London. They phone the rest of the Minions to get them to join. Scarlet plans to
        steal the Imperial State Crown from Queen Elizabeth II, and promises to reward the Minions if they steal it, and
        kill them if they do not. <br><br>

        Her husband Herb supplies them with inventions to aid in the heist, but they are nearly caught when they break
        into the Tower of London. The chase leads to Bob accidentally crashing into the Sword in the Stone and pulling
        it free to defend himself and his friends, causing Bob to remove the Queen from the throne and become King.
        Enraged that someone else accomplished her dream of stealing the throne, Scarlet confronts the Minions, so Bob
        abdicates the throne in her favor. Undeterred, Scarlet imprisons the three in a dungeon, and Herb attempts to
        torture the trio, but they escape with the intention to apologize to Scarlet at her coronation. <br><br>
    </p>

    <p>As a great & wise man had once said:</p>
    <blockquote class="kopa-blockquote style-2">
        “If we could change ourselves, the tendencies in the world would also change. As a man changes his own nature,
        so does the attitude of the world change towards him. … We need not wait to see what others do.”<br>
        <div class="b-line">
            <span>&nbsp;</span><span>---- Mahatma Gandhi</span>
        </div>
    </blockquote>

</div>

{% endblock content %}